@import "./src/sass/colors";

:host {
  display: flex;
  flex: 0 0 60px;
  justify-content: center;
  background: $color-white;
}

.logo {
  margin: 0;
  align-self: center;

  a {
    display: block;
  }
}
