@import "./src/sass/colors";

:host {
  display: flex;
  flex: 0 0 60px;
  justify-content: center;
  background: $color-white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.logo {
  margin: 0;
  align-self: center;

  a {
    display: block;
  }
}
