@import "../../sass/_colors";
@import "../../sass/_breakpoints";

:host {
  display: flex;
  flex: 1;
}

.gallery {
  overflow-y: scroll;
  background: $color-white;
  flex: 0 0 75px;

  @include breakpoint(tiny) {
    flex: 0 0 150px;
  }

  @include breakpoint(small) {
    flex: 0 0 225px;
  }

  @include breakpoint(medium) {
    flex: 0 0 300px;
  }

  @include breakpoint(large) {
    flex: 0 0 400px;
  }
}

.grid {
  flex: 1;
}
