@import "../../../sass/_colors";
@import "../../../sass/_easing";

:host {
  // width: 300px;
}

.gallery {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  &__list {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    width: 100%;
    // height: 75px;
    cursor: grab;
    background: $color-grey-dark;

    &--selected {
      img {
        opacity: 0.3;
      }

      &::after {
        transform-origin: left top;

        // The borders
        border-right: 3px solid $color-white;
        border-top: 3px solid $color-white;

        content: '';
        display: block;
        height: 20px;
        left: 50%;
        margin-left: -10px;
        position: absolute;
        z-index: 3;
        top: 50%;
        width: 10px;

        animation: 0.5s $easeOutSine checkmark;
        transform: scaleX(-1) rotate(135deg);
      }
    }
  }
}

@keyframes checkmark {
  0% { height: 0; width: 0; }
  30% { height: 0; width: 10px; }
  100% { height: 20px; width: 10px; }
}
