@import "../../../sass/_colors";
@import "../../../sass/_easing";
@import "../../../sass/_breakpoints";

.gallery {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;

  &__list {
    position: relative;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    width: 100%;
    cursor: grab;
    background: $color-grey-dark;

    @include breakpoint(tiny) {
      width: 50%;
    }

    @include breakpoint(small) {
      width: calc(100% / 3);
    }

    @include breakpoint(large) {
      width: calc(100% / 4);
    }
  }
}
